@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* { padding: 0; margin: 0; }
body { font-family: 'Roboto Mono', sans-serif; font-size: 14px; }
#container {
  width: 100%;
  display: flex; justify-content: center;
  padding: 60px 0;
}
#container-wrap {
  width: 1024px;
  margin: 0px 20px;
}